CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt76x8=y
CONFIG_TARGET_MULTI_PROFILE=n
CONFIG_TARGET_ALL_PROFILES=n
CONFIG_TARGET_ramips_mt76x8_DEVICE_hilink_hlk-7628n=y

CONFIG_IMAGEOPT=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="YANG-RouterOS"
CONFIG_VERSION_NUMBER="1.0.0"
CONFIG_VERSION_NICK="MT7628-4G-CPE"
CONFIG_VERSION_MANUFACTURER="YANG"
CONFIG_VERSION_MANUFACTURER_URL="https://github.com/JasonYANG170"
CONFIG_VERSION_PRODUCT="YANG-OS"
CONFIG_VERSION_HWREV="v1"
CONFIG_VERSION_BUG_URL="https://github.com/JasonYANG170/JDCloud-AX6000-OpenWRT/issues"
CONFIG_VERSION_SUPPORT_URL="https://github.com/JasonYANG170/JDCloud-AX6000-OpenWRT"
CONFIG_VERSION_FILENAMES=y

CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-ssl=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
CONFIG_PACKAGE_luci-i18n-firewall-zh-cn=y

CONFIG_PACKAGE_kmod-mmc=y
CONFIG_PACKAGE_kmod-mmc-mtk=n
CONFIG_PACKAGE_kmod-sdhci-mt7620=y
CONFIG_PACKAGE_kmod-i2c-core=y
CONFIG_PACKAGE_kmod-i2c-mt7628=y
CONFIG_PACKAGE_i2c-tools=y
CONFIG_PACKAGE_kmod-gpio-pwm=y
CONFIG_PACKAGE_kmod-hwmon-core=y
CONFIG_PACKAGE_kmod-hwmon-pwmfan=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-usb-acm=y
CONFIG_PACKAGE_kmod-usb-serial=y
CONFIG_PACKAGE_kmod-usb-serial-option=y
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=y
CONFIG_PACKAGE_usb-modeswitch=y
CONFIG_PACKAGE_uqmi=y
CONFIG_PACKAGE_umbim=y
CONFIG_PACKAGE_luci-proto-qmi=y
CONFIG_PACKAGE_luci-proto-ncm=y
CONFIG_PACKAGE_luci-proto-mbim=y
